
<div style="padding:30px;" class="bg-light">
<p>
  <strong>Brand name:</strong>
  <%= @brand.brand_name %>





</p>

<%= link_to 'Düzenle', edit_brand_path(@brand) , class:"btn btn-warning" %>
<%= link_to 'Geri', brands_path , class:"btn btn-warning" %>
</div>
